.grid-inner {
  margin-left: 33px;
  max-width: calc(100vw - 339px);
  /* height: calc(100vh - 300px); */
  overflow: auto;

  -ms-overflow-style: none;
}

.grid-inner::-webkit-scrollbar, .row-count::-webkit-scrollbar, .stitch-count::-webkit-scrollbar {
  display: none;
}


.grid-outer {
  position: absolute;
  /* width: calc(100vw - 220px);
  height: calc(100vh - 270px); */
  top: 150px;
  left: 220px;
  bottom: 120px;
}

.numbers-stitch {
  height: 20px;
  flex: 0 0 33px;
  text-align: center;
}

.numbers-row {
  height: 33px;
  text-align: center;
  width: 33px!important;
  /* border: 1px solid #000000; */
  line-height: 33px;
}

.stitch-count {
  margin-left: 33px;
  width: calc(100vw - 339px);
  display: inline-flex;
  /* height: calc(100vh - 260px); */
  overflow: auto;
  z-index: 3;

  -ms-overflow-style: none;
}

.row-count {
  position: absolute;
  height: calc(100vh);
  width: 33px;
  overflow: auto;
  z-index: 3;

  -ms-overflow-style: none;
}

.row-count.right {
  left: calc(100vw - 306px);
  top: 20px;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0
}

.grid-outer table, .grid-outer tr, .grid-outer td {
  border-collapse: collapse;
  border: solid #000000;
}

.grid-outer td {
  padding: 0;
}
