

.grid {
  position: absolute;
  top: 100px;
  padding-top: 50px;
  width: 100% - 200px;
  height: 100%;
  /* margin-left: 205px; */
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 1;

}

.grid table, .grid tr, .grid td {
  border-collapse: collapse;
  border: solid #000000;
}

.grid table {
  margin: auto
}

.grid td {
  padding: 0;
}
